# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
dist/
build/
*.egg

# Entornos virtuales
.venv/
venv/
env/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Logs y temporales
*.log
*.tmp
